services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: web
    command: npm run dev:server
    ports:
      - "3000:3000"
    volumes:
      - .:/app # Syncs your local folder to container
      - /app/node_modules # PREVENTS local node_modules from breaking the container
    environment:
      - PORT=3000
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy

  bot:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: bot
    command: npm run dev:bot
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    container_name: db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: glosiciele
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 5s

volumes:
  mysql_data:
